{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title></title>
</head>
<body class="position-absolute h-100 w-100 d-flex flex-column">
    <heade></heade>    
    <main>
        {% url 'password_creation' as password_creation_url %}

        <pre>
        {% blocktranslate %}

        Bonjour,
        
        Cet email vous a été envoyé afin de vous permettre de créer votre password via l'url suivante : <a href="http://{{ host }}{{ password_creation_url }}?token={{ token }}">ici</a>
        
        Bien à vous.
        
        {% endblocktranslate %}
        </pre>
    </main>
    <footer>
    </footer></body>
</html>