{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title></title>
</head>
<body class="position-absolute h-100 w-100 d-flex flex-column">
    <heade></heade>    
    <main>
        {% url 'password_reset' as password_reset_url %}

        <pre>
        {% blocktranslate %}

        Bonjour,
        
        Cet email vous a été envoyé car vous avez effectué une demande de modification de mot de passe. Vous pouvez changer votre mot de passe via ce lien: <a href="http://{{ host }}{{ password_reset_url }}?token={{ token }}">ici</a>
        
        Bien à vous.
        
        {% endblocktranslate %}
        </pre>
    </main>
    <footer>
    </footer></body>
</html>