{% load i18n %}

{% csrf_token %}
<div class="form-row">
  {{ form.token.errors }}
  <input type="{{ form.token.field.widget.input_type }}" name="{{ form.token.name }}" required id="{{ form.token.auto_id }}" value="{{ request.GET.token }}" style="width: 100%; box-sizing: border-box; padding: 8px;">
</div>
<div class="form-row">
  {{ form.password.errors }}
  {{ form.password.label_tag }}
  <input type="{{ form.password.field.widget.input_type }}" name="{{ form.password.name }}" required id="{{ form.password.auto_id }}" style="width: 100%; box-sizing: border-box; padding: 8px;">
</div>
<div class="form-row">
  {{ form.password_confirmation.errors }}
  {{ form.password_confirmation.label_tag }}
  <input type="{{ form.password_confirmation.field.widget.input_type }}" name="{{ form.password_confirmation.name }}" required id="{{ form.password_confirmation.auto_id }}" style="width: 100%; box-sizing: border-box; padding: 8px;">
</div>
{{ form.password_confirmation.attrs }}
<div class="submit-row">
  <input type="submit" value="{% translate 'Valider' %}">
</div>